.fixed-menu {
  background: #fbfbfb;
  width: 100%;
  position: fixed !important;
  z-index: 10;
  top: 3.45rem !important;
}

.bi {
  vertical-align: -0.125em;
}

.ls-04 {
  letter-spacing: -0.04ch;
}

.sticky-style {
  // position: -webkit-sticky;
  position: sticky;
  background-color: #fbfbfb;
  top: 3.45rem;
  z-index: 999;
}

.pointer-events-none {
  pointer-events: none;
}

// .categories::-webkit-scrollbar {
//   width: 0 !important;
// }
.categories::-webkit-scrollbar {
  display: none;
}

// .categories::-webkit-scrollbar-thumb {
//   border-radius:10px;
//   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
//   background-color:#555;
// }
// .categories::-webkit-scrollbar-track
// {
//     -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
//     border-radius:10px;
//     background-color:#F5F5F5;
// }
.categories {
  flex: 1 1 0%;
  overflow-x: scroll;
  white-space: nowrap;
}

.category-item-button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.04ch;
  line-height: 1.8rem;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  color: rgb(220, 53, 69);
}
.btn:focus {
  box-shadow: none !important;
}
// .selected-btn {
//   color: rgb(220, 53, 69);
// }
// .selected-btn:hover {
//   background-color: whitesmoke;
// }

// .selected-btn:active {
//   color: #fbfbfb;
//   background: rgb(220, 53, 69);
//   transition: 0.1s linear all;
//   -webkit-transition: 0.1s linear all;
// }

.fill-up {
  width: 100%;
  height: 95px;
}
