<span class="option-ambtn-wrap bg-secondary ms-1 rounded d-inline-flex align-items-center justify-content-center h-100">
  <button class="btn p-0" (click)="dec()" type="button">
    <div class="d-flex align-items-center justify-content-center">
      <span class="badge bg-secondary p-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash"
          viewBox="0 0 16 16">
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
        </svg>
      </span>
    </div>
  </button>

  <span class="badge bg-secondary ms-1 me-1 option-quantity-text">{{ size }}</span>

  <button class="btn p-0" (click)="inc()" type="button">
    <div class="d-flex align-items-center justify-content-center">
      <span class="badge bg-secondary p-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
          viewBox="0 0 16 16">
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
      </span>
    </div>
  </button>
</span>
