<uo-header [length]="itemLength"></uo-header>
<div class="min-vh-100">
  <!-- spinner -->
  <div class="clearfix" *ngIf="loading">
    <div class="spinner-wrap fixed-top">
      <div class="spinner-border spinner fixed-top" role="status"></div>
    </div>
  </div>
  <div class="fill-up mt-xl-4"></div>
  <!-- restaurant information conponents -->
  <ng-container>
    <uo-restaurant-info (heightEvent)="getHeight($event)"></uo-restaurant-info>
    <uo-menu [height]="height"></uo-menu>
  </ng-container>
  <!-- menu categories -->
</div>
<uo-full-footer></uo-full-footer>
