.gg-btn {
  color: #fff;
  background: #4285f4;
  border-color: #4285f4;
}

.fb-btn {
  color: #fff;
  background: #3b5998;
  border-color: #3b5998;
}

.ap-btn {
  color: #fff;
  background: rgb(51, 51, 51);
  background-color: rgb(51, 51, 51);
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
}

.wrap {
  min-height: 100vh;
}

.fill-up {
  width: 100%;
  height: 3.5rem;
}
