<div class="container-fluid gx-0">
  <div class="w-100 border-bottom p-4 mt-1 fs-5 fw-bold">
    Gift card
    <i class="bi bi-plus-square ps-2 pe-2"></i>
  </div>
  <div class="w-100">
    <div class="w-100 p-4 d-inline-flex border-bottom">
      <div class="d-flex flex-column flex-fill">
        <div class="fs-6 fw-500 mb-2 text-nowrap overflow-hidden toe">
          123123123
        </div>
        <div>1123123</div>
      </div>
      <div
        class="
          align-items-center
          justify-content-center
          d-flex
          flex-column
          d-lg-inline-flex
          flex-lg-row
        "
      >
        <a class="ms-2 mb-2 mb-lg-0 text-secondary fw-500 d-inline-flex">
          <i class="bi bi-pencil-square me-1"></i>Edit
        </a>
        <a class="ms-2 text-danger fw-500 d-inline-flex">
          <i class="bi bi-trash me-1"></i>Delete
        </a>
      </div>
    </div>
  </div>
  <div
    class="
      w-100
      p-4
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
  >
    <a class="p-2 text-danger fs-6 fw-bold">
      <i class="bi bi-plus-square me-2"></i> Add gift card</a
    >
  </div>
</div>
